.profile {
  margin-top: 8rem;

  .content {
    display: flex;
    justify-content: center;

    .container {
      width: 1200px;
      border-radius: 5px;

      .img-name {
        background-color: white;
      }

      .email-username {
        background-color: white;
      }

      .change {
        background-color: white;
        border-radius: 8px;
      }

      > div {
        > div {
          width: 50%;
          padding: 12px;
        }
      }

      .full-name {
        font-weight: 700;
        font-size: 24px;
        padding-left: 0;
      }

      .email-username {
        font-weight: 500;
        color: #747487;

        > div {
          width: 100%;

          > span {
            width: 50%;
          }
        }
      }

      .change {
        display: flex;
        justify-content: center;
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
}

.profile {
  margin-top: 8rem;

  .list-post {
    margin-top: 24px;
    margin-bottom: 24px;

    .post {
      background-color: white;
      padding: 12px;
      display: block;
      margin-top: 24px;
      margin-bottom: 24px;
      border-radius: 8px;

      .content {
        margin: 0;
        width: unset !important;
      }
    }
  }

  .content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .info {
      display: flex;
      align-items: center;

      .name {
        margin-left: 12px;
      }
    }

    .post-content {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    .imgs {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 12px;
      
      > a {
        border: 2px solid transparent;
        display: block;
        flex-shrink: 0;
        height: 304px;
      }
    }

    .time {
      font-size: 12px;
    }

    .comments {

    }

    .input-comment {
      position: relative;

      svg {
        position: absolute;
        right: 10px;
        top: 6px;
        cursor: pointer;
      }
    }
  }
}

.modal-profile {
  .ant-modal-footer {
    display: flex;
    justify-content: center;
  }

  .error-notify {
    color: red;
  }
}
