.post-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;

  .title {}

  .time {
    font-size: 12px;
  }

  .content {}

  .info {
    display: flex;
    align-items: center;
    padding-top: 12px;

    .name {
      margin-left: 12px;
    }
  }

  .post-content {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 12px;

    >a {
      border: 2px solid transparent;
      display: block;
      flex-shrink: 0;
      height: 304px;
    }
  }

  .time {
    font-size: 12px;
  }
}

