.notification-popup {
  width: 300px;
  position: absolute;
  top: 0;
  left: -50px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  padding: 8px;

  .list-notification {
    
  }
}
