.home {
  .container {
    align-items: center;

    .input-share {
      min-width: 800px;
      width: 800px;
      background-color: white;
      border-radius: 8px;
      padding: 16px;

      .input {
        display: flex;
        align-items: center;

        .avatar {
          width: 80px;
          height: 80px;

          img {
            border-radius: 50%;
          }
        }

        .share {
          margin-left: 48px;
          flex-grow: 1;
          display: flex;

          input {
            border-radius: 50px;
            height: 45px;
            background-color: var(--bg);
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
            flex-grow: 1;
            margin-right: 24px;
          }
        }
      }

      .action {
        margin-top: 24px;
        display: flex;
        justify-content: center;

        .upload-photos {
          display: flex;
          align-items: center;
          cursor: pointer;

          span {
            margin-left: 8px;
          }
        }

        svg {
          display: block;
        }
      }
    }

    .posts {
      width: 800px;
      min-width: 800px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 12px;

      .imgs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 12px;

        a {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.modal-mind {
  .line1 {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    .name {
      margin-left: 20px;
      font-weight: 600;
    }
  }

  .input {
    margin-top: 16px;

    textarea {
      width: 100%;
      height: 100px;
      border: 1px solid var(--border);
      border-radius: 8px;
      padding: 8px;
      font-weight: 500;

      &:focus {
        outline: none;
      }
    }
  }

  .photos {
    padding: 8px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin-top: 30px;

    input {
      display: none;
    }

    label {
      min-height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--bg);
      border-radius: 8px;
      cursor: pointer;
      font-weight: 500;
    }

    img {
      width: 100px;
      height: 100px;
    }

    .img-list {
      display: flex;
      flex-wrap: wrap;

      .ant-image {
        padding: 4px;
        flex-shrink: 0;

        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  .ant-modal-footer {
    display: flex;
    justify-content: center;
  }

  .error-notify {
    color: red;
  }
}