.main {
  button {
    border: none;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none !important;
      border-color: black !important;
    }
  }

  input {
    border: 1px solid var(--border);
    border-radius: 3px;

    &:hover {
      border-color: blue !important;
    }

    &:focus {
      outline: none !important;
      border-color: black !important;
    }
  }

  .flex {
    display: flex;
  }

  img {
    object-fit: cover;
  }

  a {
    text-decoration: none;
  }

  .color1 {
    color: #747487;
    font-weight: 500;
  }

  .color2 {
    color: #101840ce;
    font-weight: 500;
  }

  .color3 {
    color: #101840ce;
    font-weight: 400;
  }

  hr {
    border-bottom: 1px solid rgb(205, 207, 211);
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
  }

  img {
    margin-left: 0 !important;
  }

  a {
    color: unset;
  }
}
