button {
  border: none;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none !important;
    border-color: black !important;
  }
}

input {
  border: 1px solid var(--border);
  border-radius: 3px;

  &:hover {
    border-color: blue !important;
  }

  &:focus {
    outline: none !important;
    border-color: black !important;
  }

  padding: 10px;
}

.flex {
  display: flex;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

.color1 {
  color: #747487;
  font-weight: 500;
}

.color2 {
  color: #101840ce;
  font-weight: 500;
}

.color3 {
  color: #101840ce;
  font-weight: 400;
}

.text-primary {
  color: rgb(5, 5, 5);
  font-weight: 500;
  font-size: 14px;
}

.text-second {
  color: rgb(101, 103, 107);
  font-weight: 400;
  font-size: 12px;
}

hr {
  border-bottom: 1px solid rgb(205, 207, 211);
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

img {
  margin-left: 0 !important;
}

a {
  color: unset;
  display: block;
}

#refId {
  outline: 2px solid black;
}

.f0-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f0-center0 {
  display: flex;
  align-items: center;
}

.f0-center1 {
  display: flex;
  justify-content: center;
}

.f1-center-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f1-center0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f1-center1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error {
  color: red;
}